# env files
.env
.env.*
!.env.example

.ipynb_checkpoints
__pycache__
.pyc
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets